@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
header{
    position: relative;
}
.header-top{
    background: #2d2f4b;
    display: flex;
    justify-content: center;
    color: #ffff;
    height: 50px;
}
.header-top-article{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-top-icone{
    color: #f76f01;
    padding: 10px;
    border-right: 1px solid #ffff;
}
.header-top-text{
    margin: 15px;
}
.header-top-text span{
    color: #f76f01;
    font-size: 0.7rem;
    font-weight: 600;
    font-family: Poppins, sans-serif;
}
nav{
    height: 85vh;
    width: 100%;
    background: linear-gradient(rgba(32,3,3,0.602), rgba(32,3,3,0.52)),
    url(photos/samsungS.jpg)center/cover;
}
.menu{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ffff;
    padding-bottom: 12px;
}
.logo{
    margin-top: 10px;
}
.logo a{
    font-size: 1.3rem;
    color: #ffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
}
.logo a span{
    font-weight: bold;
    color: #f76f01;
}


.nav-item{
    display: flex;
}
.link{
    margin-left: 15px;
    margin-top: 10px;
    text-transform: uppercase;
    background: #f76f01;
    padding: 10px;
    border-radius: 10px;
}
.link:hover{
    background: linear-gradient(to left bottom,
    rgba(241,82,8,0.918)),
    rgba(216,71,14,0.753);
}
.link a{
    color: #ffff;
}
.menu-icons{
    display: flex;
    margin-top: 10px;
    font-size: 1.4rem;
}
.menu-icons a{
    color: #ffff;
    margin-left: 15px;
}

.header-contenu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.header-contenu h3{
    font-size: 1.8rem;
    color: #ffff;
    font-weight: bold;
    animation-name: moveintoleft;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    margin-bottom: 10px;
}
@keyframes moveintoleft{
    0%{
        opacity: 0;
        transform: translate(-100px);
    }
    80%{
        transform: translate(20px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
   
}

.header-contenu h1{
    font-size: 2rem;
    color: #ffff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    animation-name: moveintoright;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    margin-bottom: 10px;
}
.header-contenu p{
    color: #ffff;
    font-size: 1rem;
    margin-bottom: 20px;
}

@keyframes moveintoright{
    0%{
        opacity: 0;
        transform: translate(100px);
    }
    80%{
        transform: translate(-20px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
   
}

.header-contenu .btn,
.btn2 {
    padding: 10px;
    background: transparent;
}
.header-contenu .btn{
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 100px;
    padding: 15px 40px;
    cursor: pointer;
    margin: 5px;
    transition: all 0.2s;
    border: none;
    outline: none;
}
.header-contenu .btn2{
    border: solid 2px #ffff;
    transition: ease-in-out;
}
.header-contenu .btn1{
    border: solid 2px #ffff;
    transition: ease-in-out;
}
.header-contenu .btn1:hover{
    background: #f76f01;
    color: #ffff;
}
.header-contenu .btn2:hover{
    background: #130683;
    color: #ffff;
}
.header-contenu a{
    color: #ffff;
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
   
}
@media only screen and (max-width: 600px){
    .header-contenu h1{
        font-size: 1.4rem;
    }
    .header-contenu h1{
        font-weight: 1.2rem;
    }
    .header-contenu .btn{
        text-transform: uppercase;
        font-size: 0.7rem;
    }
}

.categories-produits{
    width: 100%;
    padding: 70px 0px;
    background: url(photos/)no-repeat;
    background-position: 70rem;
    position: static;
    background-color: #f76f01;

}
.categorie-titre h1{
    font-family: lobster,cursive;
    text-align: center;
    padding: 10px 0px;
}

.categorie-boite{
    display: flex;
    background-color: aqua;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin: auto;

}
.categorie-unique{
    flex-basis: 30%;
    text-align: center;
   /* color: #ffff;*/
    position: relative;
    margin-bottom: 20px;
}
.categorie-unique img{
    width: 100%;
    border-radius: 10px;
}
.text-hover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(0,0,0,8),#0000);
    opacity: 0.5;
    transition: 0.6s ease-in ;
}
hr {
    width: 60%;
    margin: 10px auto;
}
.description .btn{
    padding: 5px 30px;
    border: 1px solid #e45a04;
    font-size: 1.3rem;
    color: #ffff;
    font-family: lobster,cursive;
    transition: ease-in;

}
.description{
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.6s ease-in;
}
.description .btn:hover{
    background: #130683;

}
.description p{
    margin-bottom: 12px;
}

.categorie-unique :hover .text-hover{
    opacity: 1;
}
.categorie-unique:hover .description{
    opacity: 1;
    bottom: 20%;
}








.services{
    background: #23254b;
}
.section-elements{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.v-header{
    margin: 3rem 0;
    text-align: center;
    line-height: 3rem;

}
.v-header h3{
    text-transform: uppercase;
    color: #f76f01;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}
.v-header h1{
    color: #ffff;
    font-family: 'Lobster', cursive;
}
.v-header2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19%, 1fr));
    grid-gap: 3rem;
    margin: 1rem 0;
}
.v-uniq{
    background: #efebcd;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.v-uniq img{
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/2;
}
.v-header2 img{
    width: 100%;
}














footer{
    background: #2d2f4b;
    color: #ffff;
    text-align: center;
    padding: 10px;
}